
ul, li {
    list-style-type: none;
  }

.container-spacing {
  padding-top: 20px;
}

#searchResultsBox {
  padding-top: 15px;
  margin: 5px;
}

#small-text {
  padding-top: 25px;
  font-size: 15px;
}

#error-center {
  text-align: center;
}
